<html>
    <head>Sign Up Page</head>
    <body>
        <h2>Sign Up Page</h2>
        <form action="/auth/addNewUser" method="post">
            <label for="username">Email</label>
            <input type="text" id="email" name="email"><br><br>
            <label for="password">Password</label>
            <input type="text" id="password" name="password"><br><br>
            <label for="password">Roles</label>
            <input type="text" id="roles" name="roles"><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>