<html>
    <head>
        <title>This is my HomePage</title>
    </head>
    <body>
        <h1>Home Page of JWT Spring Application</h1>
        
        <form action="/createProfile" method="get">
            <button type="submit">Create Profile</button>
        </form>
        <!-- <a href="createProfile.html">Create Profile</a> -->
        <br>
        <!-- <a href="login.html">Login</a> anchor tag is for html pages. form tag is for request mappings-->
         <form action="/login" method="get">
            <button type="submit">Login</button>
        </form>
    </body>
</html>