<html>
<head>
    <title>Products Page</title>
</head>
<body>
    <h2>Product Management System</h2>
    <form action="/product" method="post">
    <label for="fname">Product Name</label>
    <input type="text" id="name" name="name"><br><br>

    <label for="fname">Quantitiy</label>
    <input type="text" id="quant" name="quant"><br><br>
    
    <label for="fname">Vendor</label>
    <input type="text" id="vendor" name="vendor"><br><br>

    <label for="fname">Barcode</label>
    <input type="text" id="barcode" name="barcode"><br><br>
    </form>
    <input type="submit" value="Submit">

    <!-- <pre th:text="${products}"></pre> -->

</body>


</html>